
:root {
    --color: 150;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Farsan', cursive;
    font-weight: bolder;
    color: rgb(30, 109, 133);
}

html {
    font-size: 14px;
}

body {
    background-image: url(https://cutewallpaper.org/21/office-background-wallpaper/business-office-background-images-Magdalene-project.org.jpg);
}

.container {
    width: 100vw;
    height: 100vh;

    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.h1Alike {
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}

label {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.infoText {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2.1rem;
}

.userInput {
    width: 100%;
    max-width: 900px;
    height: 20vh;
    border: 1px solid rgb(215, 231, 234);
    padding: 10px 10px;
    font-size: 2rem;
    color: black;
    resize: none;
    border-radius: 6px;
    transition: 1s;
}

.button {
    cursor: pointer;
    width: 140px;
    height: 40px;
    border: none;
    transition: 1s;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 2rem;
    background-color: lightblue;
    transition: 0.5s;
    opacity: 0.7;
}

.button:hover {
    opacity: 1;
    color: white;
    border: none;
}

.userOutputContainer {
    width: 100%;
    height: 200px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userOutput {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1200px;
    height: 100px;
    text-align: center;
}

.userOutputElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 15%;
    height: 100%;
}